h1, p, span, button{
    font-family: 'Inter', sans-serif;
    text-align: center;
}

h1{
    margin-bottom: 0;
}

a {
  text-decoration: none;
  position: relative;
  font-weight: bold;
}
.languageWrap{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.languageWrap button{
  background: inherit; 
  border:none; 
  box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer;
  color: darkgray;
}

#description{
  max-width: 400px;
}
.description{
  max-width: 400px;
  color: lightgrey;
  font-size: 14px;
}

.languageWrap button:first-child:after{
  content: '|';
  padding: 0 5px;
  color: darkgray;
}

.languageWrap button.active{
  color: #060606;
}
.buttonWrap{
    width: 100%; 
    max-width: 600px;
    height: 680px; 
    border:1px solid #fff;
    border-radius: 20px;
    margin:0 auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.marginTop{
  margin-top: 100px;
}

.buttonWrap button {
    width: 200px;
    height: 50px;
    border: 3px solid #060606;
    border-radius: 20px;
    background-color: #FFC600;
    text-align: center;
    line-height: 25px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
    transition: color 0.5s ease, background-color 0.5s ease;
  }
  
.buttonWrap button:hover {
  color: white;
  background-color: #060606;
}

.guide span{
    font-size: 13px;
    color: #060606;
}
  
  .guide a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease;
  }
  
  .guide a:hover::after {
    width: 100%;
  }

main{
    margin-bottom: auto;
    text-align: center;
}

footer{
    margin-top: auto;
}

footer img {
    margin-bottom: 50px;
    width: 110px;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  footer img:hover {
    transform: scale(1.05);
  }

.guideLink{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guideLink button a{
  font-size: 13px;
  color: #060606;
}
.guideLink button:hover a{
  color: white;
}