Header{
    &.nav{
        display: flex;
        align-items: center;
        background : white;
        justify-content: space-between;
        .logo{
            a{
                font-size: 20px;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.88);
            }
        }
    }

    .profile{
        display: flex;
        gap: 10px;
        align-items: center;
    }
}


Button{
    &.connect{
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

.searchWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
    Select{
        width: 100px;
    }
}

.cardWrap{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.formWrap{
    margin: 10px 0;
    padding: 30px;
    border: 1px solid rgba(5, 5, 5, 0.06);
    border-radius: 10px;
}

.buttonWrap{
    display: flex;
    gap: 10px;
    &.marginTop{
        margin-top: 25px;
    }
    &.marginBottom{
        margin-bottom: 20px;
    }
    &.right{
        justify-content : end;
    }      


}

.emptyPage{
    margin-top: 20px;
}

// td{
//     cursor: pointer;
// }