<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/web3.min.js"></script>
    <script src="/js/qrcode.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="languageWrap">
        <button id="eng">English</button>
        <button id="ko">한국어</button>
    </div>
    <div class="buttonWrap">
        <main>
            <div id="title">
            </div>
            <div>
                <!-- Connect wallet to -->
                <button id="handleConnectMetamask">Metamask</button>
                <!-- <button id="handleKilp">Klip</button>
                <div id="qr-container" class="box"></div> -->
            </div>
            <!-- <button id="handleConnect">CONNECT WALLET</button> -->
            <div id="guide" class="guide">
            </div>
        </main>
        <footer>
            <a href="https://sbxg.gg/" target="_blank">
                <img src="/image/logo-sbxg.png" alt="sbxg logo">
            </a>
        </footer>
    </div>
    <script src="/js/language.js"></script>
    <script>
        window.addEventListener('load', () => {
            changeLanguage('eng')
            const isType = window.sessionStorage.getItem('type')
            if (isType !== null) {
                window.sessionStorage.removeItem('type')
            }
            title.innerHTML = drawContent('welcome')
            guide.innerHTML = drawContent('guide')

            eng.addEventListener('click', () => {
                console.log('eng click')
                changeLanguage('eng')
                let isType = window.sessionStorage.getItem('type')
                console.log('type', isType)//{title:'welcome', guide:'guide'}
                if (isType === null) {
                    title.innerHTML = drawContent('welcome')
                    guide.innerHTML = drawContent('guide')
                } else {
                    isType = JSON.parse(isType)
                    let isGuide = Object.keys(isType).filter(e => e === 'guide')[0] === 'guide'
                    title.innerHTML = drawContent(isType.title)
                    if (isGuide) {
                        guide.innerHTML = drawContent('guide')
                    }
                }
            })

            ko.addEventListener('click', () => {
                console.log('ko click')
                changeLanguage('ko')
                let isType = window.sessionStorage.getItem('type')
                console.log('type', isType)
                if (isType === null) {
                    title.innerHTML = drawContent('welcome')
                    guide.innerHTML = drawContent('guide')
                } else {
                    isType = JSON.parse(isType)
                    let isGuide = Object.keys(isType).filter(e => e === 'guide')[0] === 'guide'
                    title.innerHTML = drawContent(isType.title)
                    if (isGuide) {
                        guide.innerHTML = drawContent('guide')
                    }
                }
            })
        })
    </script>
    <script>
        const eng = document.getElementById('eng')
        const ko = document.getElementById('ko')
        const title = document.getElementById('title')
        const guide = document.getElementById('guide')

        const btnMetamask = document.querySelector('#handleConnectMetamask')
        const btnKlip = document.querySelector('#handleKilp')
        const isMetamaskInstalled = () => {
            if (!window.ethereum) {
                let webStoreUrl =
                    'https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en'

                window.open(webStoreUrl, '_blank')
                return false
            } else {
                return true
            }
        }
        

        const handleError = (msg) => {
            let obj = { title: 'fail', guide: 'guide' }
            window.sessionStorage.setItem('type', JSON.stringify(obj))

            title.innerHTML = drawContent('fail')
            guide.innerHTML = drawContent('guide')
        }
        const handleAlready = () => {
            let obj = { title: 'already', guide: 'guide' }
            window.sessionStorage.setItem('type', JSON.stringify(obj))

            title.innerHTML = drawContent('already')
            guide.innerHTML = drawContent('guide')
        }
        const handleSuccess = () => {
            let obj = { title: 'success', guide: 'guide' }
            window.sessionStorage.setItem('type', JSON.stringify(obj))

            title.innerHTML = drawContent('success')
            guide.innerHTML = drawContent('guide')
        }

        const authorize = async (addr) => {
                const web3 = new Web3(window.ethereum)
                const hash2 = web3.utils.soliditySha3('sbxg-sign', addr)

                const signature = await window.ethereum
                    .request({
                        method: 'personal_sign',
                        params: [hash2, addr],
                    })
                    .catch(console.log)

                if (!signature) return false

                await fetch(`/auth`, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        address: addr,
                        signature: signature,
                        random_hash: '<%= random_hash %>'
                    }),
                })
                    .then((res) => res.json())
                    .then((data) => {
                        if (data.message) {
                            throw new Error(data.message)
                            return false
                        }
                        if (data.success) {
                            handleSuccess()
                            btnMetamask.style.display = 'none'
                        }
                    })
                    .catch((err) => {
                        if (err.message.includes('already')) {
                            handleAlready()
                        } else {
                            handleError(err.message)
                        }
                        console.log(err.message)
                    })
        }

        async function handleConnectMetamask() {//const 화살표함수의 경우 재귀호출불가
            const connectNetwork = async (chainId, chainName, rpcUrls) => {
                try {
                    await window.ethereum.request({
                        method: 'wallet_switchEthereumChain',
                        params: [
                            {
                                chainId,
                            },
                        ],
                    })
                } catch (switchError) {
                    if (switchError.code === 4902) {
                        try {
                            await window.ethereum.request({
                                method: 'wallet_addEthereumChain',
                                params: [
                                    {
                                        chainId,
                                        chainName,
                                        rpcUrls: [rpcUrls],
                                    },
                                ],
                            })
                            return true //'Network added and switched successfully';
                        } catch (addError) {
                            throw addError
                        }
                        return handleConnectMetamask()
                    } else {
                        throw new Error('canceled')
                    }
                } finally {
                    let isLocked = await window.ethereum._metamask.isUnlocked();
                    if (!isLocked) {//잠금해제후 다시시작
                        await window.ethereum.request({
                            method: 'eth_requestAccounts',
                        })
                        return handleConnectMetamask()
                    }
                    let walletAddress = await window.ethereum.request({
                        method: 'eth_requestAccounts',
                    })
                    if(!showConfirm(walletAddress[0])) return false

                    await authorize(walletAddress[0])

                }
            }


            if (!isMetamaskInstalled()) {
                return false
            }

            if (window.location.href.includes('localhost') || window.location.href.includes('test')) {
                connectNetwork(
                    '0x13881', //80001
                    'Polygon Mumbai',
                    'https://mumbai.polygonscan.com/'
                )
            } else {
                connectNetwork(
                    '0x89', //137
                    'Polygon Mainnet',
                    'https://polygon-rpc.com/'
                )
            }
        }

        let intervalId
        async function handleKilp(){
            let key
            //모바일은?

            await fetch("https://a2a-api.klipwallet.com/v2/a2a/prepare", {
                method:'post',
                headers: { "Content-Type": "application/json" },
                body:JSON.stringify({
                    bapp: {name:'sheepfarm'},
                    type: 'auth'
                })
            })
            .then(res => res.json())
            .then(res => {
                key = res.request_key;
                resetKlip()
                makeQR(key)
            })
        }

        function resetKlip(){
            let qrContainer = document.getElementById('qr-container')
            qrContainer.innerHTML = ''
            clearInterval(intervalId)
        }

        // /**
        //  * qr생성후 2초마다 요청
        //  * **/
        function makeQR(key){
            let qrOptions = {
                width: 128,
                height: 128
            }
            let qrContainer = document.getElementById('qr-container')
            new QRCode(qrContainer, `https://klipwallet.com/?target=/a2a?request_key=${key}`, qrOptions);
            intervalId = setInterval(()=>{
                poll(key)
            },2000)
        }

        function showConfirm(address) {
            let result = true
            const lan = window.sessionStorage.getItem('language')
                if (lan === 'ko') {
                    if (!confirm(`연동하려는 지갑이 맞습니까? ${address}`)) {
                        result = false
                    }
                } else {
                    if (!confirm(`Is this the wallet you want to link? ${address}`)) {
                        result = false
                    }
                }
            return result
        }

        async function poll(key){
            let address = ''
            let data = await fetch(`https://a2a-api.klipwallet.com/v2/a2a/result?request_key=${key}`, {
                method:"GET",
                headers: { "Content-Type": "application/json" },
            }).then(res => res.json())

            if(data.status === 'completed'){
                resetKlip()
                address = data.result.klaytn_address

                if(!showConfirm(address)) return false

                await authorize(address)
            }
         }

        btnMetamask.addEventListener('click', () => {
            handleConnectMetamask()
        })
        btnKlip.addEventListener('click',()=>{
            handleKilp()
        })

    </script>
</body>

</html>