<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="buttonWrap marginTop">
        <main>
            <div class="guideLink">
                <button><a href="https://bit.ly/3JQIpHK"><span>Go to the guidebook</span></a></button>
                <button><a href="https://bit.ly/3PWHsBy"><span>가이드북 바로가기</span></a></button>
            </div>
        </main>
        <footer>
            <a href="https://sbxg.gg/" target="_blank">
                <img src="/image/logo-sbxg.png" alt="sbxg logo">
            </a>
        </footer>
    </div>
</body>

</html>