<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="languageWrap">
        <button id="eng">English</button>
        <button id="ko">한국어</button>
    </div>
    <div class="buttonWrap">
        <main>
            <div id="title"></div>
            <div id="guide" class="guide">
            </div>
        </main>
        <footer>
            <a href="https://sbxg.gg/" target="_blank">
                <img src="/image/logo-sbxg.png" alt="sbxg logo">
            </a>
        </footer>
    </div>
    <script src="/js/language.js"></script>
    <script>
        const eng = document.getElementById('eng')
        const ko = document.getElementById('ko')
        const title= document.getElementById('title')
        const guide = document.getElementById('guide')

        eng.addEventListener('click',()=>{
            changeLanguage('eng')
            title.innerHTML = drawContent('error')
            guide.innerHTML = drawContent('guide')
        })

        ko.addEventListener('click',()=>{
            changeLanguage('ko')
            title.innerHTML = drawContent('error')
            guide.innerHTML = drawContent('guide')
        })

        window.addEventListener('load',()=>{
            changeLanguage('eng')
            title.innerHTML = drawContent('error')
            guide.innerHTML = drawContent('guide')
        })
    </script>
</body>

</html>